html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'Nunito', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,*::before, *::after {
	box-sizing: border-box;
	font-weight: normal;
}

body{
	background: rgb(255,3,182);
	background: linear-gradient(90deg, rgba(255,3,182,1) 0%, rgba(107,83,128,1) 47%, rgba(0,52,255,1) 100%);
}

.calculator-container {
	display: grid;
	align-content: center;
	justify-content: center;
	min-height: 100vh;
	grid-template-columns: repeat(4, 100px);
	grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-container > button {
	cursor: pointer;
	font-size: 2rem;
	border: 1px solid white;
	outline: none;
	opacity: .9;
}

.calculator-container > button:hover {
	background-color: white;
}

.span-two {
	grid-column: span 2;
}

.output {
	grid-column: 1 / -1;
	background-color: rgba(0, 0, 0, .75);
	display: flex;
	align-items: flex-end;
	justify-content: space-around;
	flex-direction: column;
	padding: 15px;
	word-wrap: break-word;
	word-break: break-all;
}

.output .previous-operation {
	font-size: 1.2rem;
	color: rgba(255, 255, 255, .75);

}

.output .current-operation {
	font-size: 2.5rem;
	color: white;
}
